<!-- @afreen *-->
<!-- ejs file to display the navigation bar*-->
<nav class="navigation">
    <a href="/connections" class="nav-item">Connections</a> 

    <span style="float: right;margin-right:20px"> <%if (typeof user != 'undefined'){ %>Welcome <%=  user %> 
        <% } %>
    </span>
</nav>