<!-- @afreen *-->
<!-- ejs file to display the about page*-->
<!--includes partials like header,navigation and footer-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sports Meet Up</title>
    <link rel="stylesheet" href="../assets/styles/style.css">


</head>

<body>
    
    <%- include('partials/header.ejs')%>
    <%- include('partials/navigation.ejs')%>
    <main class="main-content">
        <section class="event-detail">
            <h2  class="about-us">About Us </h2>
            <article>
                
                <div class="about-us">
                   
                    <h3>Welcome to the world's best sports meet up website ! 
                        This site will keep you updated on the various events taking place. 
                        RSVP to the events to get more details and have your events saved do your connections.
                        We will be glad to have you at our events :) !
                    </h3>
                </div>
            </article>
            
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>